@model ProfileForm
@{
    ViewData["Title"] = "Edit profile";
}
<div>
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" 
                  asp-area="Auth" asp-controller="Profile" asp-action="Edit">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        @await Html.PartialAsync("_ProfileForm", Model)
                    </div>

                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a asp-area="Auth"
                       asp-controller="Profile"
                       asp-action="Index"
                       class="btn btn-outline-success">Return</a>
                </div>
            </form>
        </div>
    </div>
</div>