@model UserInfoForm
@{
    ViewData["Title"] = "Create User Info";

    var i = 0;
    var list = new SelectList(Model.Professions
        .ToList(), "Id", "Title");
}
<div>
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="UserInfo" asp-action="Create">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_UserInfoFormFields", Model, new ViewDataDictionary(ViewData) { { "professions", list } })
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>




    <a asp-area=""
       asp-controller="UserInfo"
       asp-action="Index"
       class="btn btn-outline-success">Return</a>
</div>

@section Head {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
}

@section Scripts {
    <script src="~/js/map-edit.js"></script>
}